extends template

block content
    h1 "The Blue Men of the Minch"
    p
        | The blue men of the minch, also known as storm kelpies, are known to inhabit stretch of water between the northern
        | Outer Hebrides and mainland Scotland.

    p
        | Blue men look much like humans, and are about the same size, but have a blue hue to their skin.
        | They have the power to create storms, but when the weather is fine they can be found sleeping on the surface of
        | the water.

    p
        | Blue men approach ships that journey through the Minch Strait, and call out in rhymes to their captains.
        | If the captains cannot finish the rhyme, the blue men will sink the ship!
        | Do you have what it takes to fend off the blue men?

    u
        a(href="/questiongame") Play the Game