extends layout

block content
    h1 "The Blue Men of the Minch"
    p The blue men of the minch, also known as storm kelpies, are known to inhabit stretch of water between the northern
    | Outer Hebrides and mainland Scotland.
    | Blue men look much like humans, and are about the same size, but have a blue hue to their skin.
    | They have the power to create storms, but when the weather is fine they can be found sleeping on the surface of
    | the water.
    |
    | Blue men