extends template

block content
    #reader(style='width:300px;height:250px')

    script(src="/javascripts/html5-qrcode.min.js")
    script(src="/javascripts/jsqrcode-combined.min.js")
    script(src="/javascripts/mobileclient.js")


