extends layout

html(lang='en')
    head
        meta(charset='UTF-8')
        title Rhymes
    body
        h1#question
        ul#answers
        script(type='text/javascript', src='questiongame/questionGenerator.js')