extends template

block content
    .site-wrapper
        .site-wrapper-inner
            .cover-container
                .masthead.clearfix
                    .inner
                        h3.masthead-brand
                            img(src='images/logo.png')
                        nav.nav.nav-masthead
                            a.nav-link.active(href='#')
                            a.nav-link(href='#')
                            a.nav-link(href='#')
            .container-fluid
                .row
                    .span12
                        iframe(src='http://mapbuildr.com/frame/mf233i', frameborder='0', height='500px', width='100%')
